/* Pages */

.page-header {
  color: #FFFFFF;
  background: black;
}

.navigation-link {
  font-family: sans-serif;
  color: white;
  text-align: left;
  font-weight: 700;
  line-height: 26px;
}

.main-index {
  background-color: #FFFFFF;
  color: black;
  background-image: url("./../assets/catalog/background-catalog.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
}

.color-white {
  color: #FFFFFF;
}

.breadcrumbs-item {
  color: #242424;
  text-align: left;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  text-align: left;
}

.checkbox {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: white;
  text-align: left;
}

.button-light {
  color: white;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.button-reset {
  color: white;
}

.sorting {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: black;
  text-align: left;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: black;
  }

.card-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: black;
}

.card-button {
  color: white;
  background-color: #756157;
  text-transform: uppercase;
}

.card-button-favorite {
  color: white;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.card-button-in-favorite {
  color: white;
  background-color: #7DB54F;
  text-transform: uppercase;
}

.star {
  background-image: url("./../assets/catalog/star.svg");
  background-repeat: repeat-x;
  height: 17px;
}

.star-repeat-1 {
  width: calc(18px*1);
}

.star-repeat-2 {
  width: calc(18px*2);
}

.star-repeat-3 {
  width: calc(18px*3);
}

.star-repeat-4 {
  width: calc(18px*4);
}

.rating {
  color: black;
  background-color: #F2F2F2;
  width: 160px;
  height: 37px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
}

.pagination {
  background-color: #82B3D3;
}

.pagination-link {
  color: #FFFFFF;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  width: 55px;
  height: 55px;
}

.pagination-disabled {
  background-color: #595959;
}

.pagination-item {
  width: 55px;
  height: 55px;
  vertical-align: middle;
  background-color: #82B3D3;
}

.per-page {
  font-size: 18px;
  line-height: 21px;
}

h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.submit {
  color: white;
  text-transform: uppercase;
  background-color: #82B3D3;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.email-input {
  color: black;
  background-color: #F2F2F2;
  width: 600px;
  height: 60px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}


.main-footer {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.contacts-phone {
  text-align: center;
  color: #000000;
}

