
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: white;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.catalog-first-screen {
  background-image: url("./../assets/catalog/background-catalog.svg");
  min-height: 394px;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("./../fonts/PTSans-Italic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("./../fonts/PTSans-BoldItalic.ttf") format("ttf");
  font-display: swap;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: black;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

/* Header */

.page-header {
  color: #000000;
  background: white;
}

.navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.navigation ul {
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  min-width: 500px;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-item-logo {
  margin: 0 0 0 70px;

}

.navigation-item {
  margin: auto 20px;
}

.navigation-user-item {
  margin: auto 20px;
}

.navigation-link {
  display: block;
  text-align: left;
  font-weight: 700;
  line-height: 26px;
  font-size: 20px;
  text-decoration: none;
  font-style: normal;
  color: black;
}


.own-page::after {
  content: "";
  position: absolute;
  display: block;
  width: 68px;
  height: 2px;
  background-color: #756257;
  margin-top: 20px;
}

.catalog-page::after {
  content: "";
  position: absolute;
  display: block;
  width: 93px;
  height: 2px;
  background-color: #756257;
  margin-top: 20px;
}

.favorites {
  position: absolute;
  top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 2px 5px 4px 5px;
  z-index: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.navigation-button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  background-color: #756157;
  min-width: 160px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.navigation-user {
  display: flex;
  list-style-type: none;
  margin: 20px 70px 20px auto;
  padding: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}


.logo {
  display: block;
}

.main-index {
  background-color: #ffffff;
  color: black;
  /*background-image: url("./../assets/background-1.jpg");*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}


.about {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.about__paragraph {
  color: black;
  text-align: center;
  font-weight: 400;
  Font-size: 22px;
  line-height: 26px;
  padding-bottom: 56px;
  max-width: 592px;
}

.subscribe-email {
  display: flex;
}

.email {
  padding: 12px 15px;
  background-color: #f2f2f2;
  min-width: 600px;
  max-height: 60px;
  border-radius: 4px 0 0 4px;
  border: 0;
}

input::placeholder {
  color: black;
  font-size: 18px;
}

.email-button {
  color: white;
  background-color: #82b3d3;
  text-transform: uppercase;
  max-width: 200px;
  max-height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border: 0;
  padding: 12px 15px;
  border-radius: 0 4px 4px 0;
}

.button-search {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  background-color: #756157;
  min-width: 574px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 93px;
  border-radius: 4px;
}

.advantages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
}

.advantages-items-wrapper {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 384px;
}

.advantages-items-img {
  min-height: 76px;
}

.advantages-icon-cards {
  display: flex;
  align-items: center;
  justify-content: center;

}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 0px 85px;
}

.advantages-item-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  max-width: 180px;
}

.advantages-item-subtitle {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-text {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item .advantages-item-title::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 76px;
  padding-top: 30px;
}

.advantages-icon-home .advantages-item-title::before {
  background: url("./../assets/home.svg") no-repeat center center;
}

.advantages-icon-food .advantages-item-title::before {
  background: url("./../assets/food.svg") no-repeat center center;
}

.advantages-icon-souvenirs .advantages-item-title::before {
  background: url("./../assets/souvenirs.svg") no-repeat center center;
}


.bg-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.background-grey {
  background-color: #f0f6fa;
}

.background-grey-blue {
  background-color: rgba(131, 179, 211, 0.2)
}

.background-white {
  background-color: #ffffff;
}

/* Page 2 */

.title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
}

.color-white {
  margin: 0;
  color: #ffffff;
  padding-top: 35px;
  margin-left: 70px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-direction: row;
  list-style-type: none;
}

.breadcrumbs-item {
  color: white;
  margin-left: 70px;
}

.breadcrumbs-arrow::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../assets/catalog/arrow.png");
}

.catalog-filter-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  text-align: left;
}

.checkbox {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: white;
  text-align: left;
  margin-bottom: 15px;

}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  background-position: center;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  transition: 0.5s;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #ffffff;
}

.custom-checkbox:checked+label::before {
  background: url("../assets/checkbox-checked.svg") no-repeat;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  background-position: center;
}

.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background: #ffffff;
}

.custom-radio:checked+label::before {
  background: url("../assets/radio-button-checked.svg") no-repeat;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.catalog-filter-button {

}

.button-light {
  color: white;
  background-color: #82b3d3;
  text-transform: uppercase;
  padding: 9px 15px;
  min-width: 160px;
  min-height: 48px;
  border-radius: 4px;
  border: 0;
  font-weight: 700;
}

.button-reset {
  color: white;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  padding: 9px 15px;
  min-width: 160px;
  min-height: 48px;
  margin-bottom: 0;
}

.filter {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  padding-top: 58px;
}

.filter-select-wrapper {
  display: flex;
  align-items: center;
  max-height: 48px;

}

.filter-buttons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.filter-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 8px;
  list-style-type: none;
}

.sorting {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: black;
  text-align: left;
  text-transform: uppercase;
}

.advantages-card-title {
  display: flex;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding: 16px 0px 16px 0px;
}

.subscribe-card-title {
  display: flex;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding: 16px 0px 16px 0px;
  text-transform: uppercase;
}

.subscribe-card-title-main  {
  color: #ffffff;
}



.color-black {
  margin: 0;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 29px;
  color: black;
}

.bg-subscribe {
  background: url("./../assets/background-subscribe.jpg") no-repeat center center;
}

.subscription {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 94px 200px;
}

.subscribe-subtitle {

  color: white;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 46px;
  font-weight: 400;
  max-width: 475px;
}

.subscribe-subtitle-catalog {
  color: black;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 46px;
  min-width: 476px;
}

.card-hotel-cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: black;
  width: 100%;
  margin-bottom: 16px;
}

.card-button {
  color: white;
  background-color: #756157;
  text-transform: uppercase;
  padding: 9px 15px;
  max-width: 140px;
  border-radius: 4px;
}

.card-button-favorite {
  color: white;
  background-color: #82b3d3;
  text-transform: uppercase;
}

.card-button-in-favorite {
  color: white;
  background-color: #7db54f;
  text-transform: uppercase;
}

.card-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.star {
  background-image: url("./../assets/catalog/star.svg");
  background-repeat: repeat-x;
  height: 17px;
}

.star-repeat-1 {
  width: calc(18px * 1);
}

.star-repeat-2 {
  width: calc(18px * 2);
}

.star-repeat-3 {
  width: calc(18px * 3);
}

.star-repeat-4 {
  width: calc(18px * 4);
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #f2f2f2;
  min-width: 160px;
  min-height: 37px;
  border-radius: 4px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
}

.pagination-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 0;
  border-top: 1px solid #e6e6e6;
}

.pagination {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-item {
  display: flex;
  margin: 0 8px 0 0;
  min-width: 55px;
  min-height: 55px;
  vertical-align: middle;
  background-color: #82b3d3;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.pagination-current {
  background-color: #f2f2f2;
  color: black;
}

.pagination-disabled {
  background-color: #595959;
}

.per-page {
  font-size: 18px;
  line-height: 21px;
}

.about__title {
  text-transform: uppercase;
  font-size: 30px;
  padding-bottom: 29px;
  line-height: 36px;
}

.advantages-card-subscribe {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.submit {
  color: white;
  text-transform: uppercase;
  background-color: #82b3d3;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.email-input {
  color: black;
  background-color: #f2f2f2;
  width: 600px;
  height: 60px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}

.main-footer {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.contacts-phone {
  text-align: center;
  color: #000000;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.main-container {
  flex-grow: 1;
}

.filters {
  display: flex;
}

.catalog-filter-wrapper {
  display: flex;
  margin-left: 70px;
  margin-bottom: 70px;
}

.filter-column {
  display: flex;
  flex-direction: column;
  border: 0;
}

.filter-right {
  display: flex;
  flex-wrap: wrap;
  max-height: 148px;
}

.cost {
  display: flex;
  flex-direction: column;
  margin-left: 175px;
  padding: 0;
  border: none;
  min-width: 520px;
}

.cost-min-max {
  display: flex;
  justify-content: space-between;
  max-width: 288px;
}

.range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
  justify-content: center;
  margin-bottom: 66px;
  list-style-type: none;
  padding: 0;
}


.card {
  padding: 18px;
}



.card-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding-top: 91px;
  align-items: center;
}

.subscribe {
  width: 100%;
  min-height: 411px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  align-items: center;
  justify-content: space-around;
}

.page-footer-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  min-width: 24px;
  min-height: 17px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.about-header {
  background-image: url("../assets/about-bg.svg");
  min-height: 485px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 63px 0 90px 0;
  max-width: 655px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.contacts-phone {
  text-decoration: none;
  font-style: normal;
}

.footer-logo {
  width: 115px;
  margin-left: auto;
}

.advantages-card-img {
  position: relative;
  flex-grow: 2;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: gainsboro;
  min-width: 288px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: white;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #ffffff;
  border: 0px;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}



.range-input::placeholder {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  content: "от";
  position: absolute;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
  width: 50%;
}

.range-input {
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: solid 2px white;
  appearance: textfield;
  width: 100%;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
