
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: white;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.catalog-first-screen {
  background-image: url("./../assets/catalog/background-catalog.svg");
  min-height: 394px;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("./../fonts/PTSans-Italic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("./../fonts/PTSans-BoldItalic.ttf") format("ttf");
  font-display: swap;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: black;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

/* Header */

.page-header {
  color: #000000;
  background: white;
}

.navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.navigation ul {
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  min-width: 500px;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-item-logo {
  margin: 0 0 0 70px;

}

.navigation-item {
  margin: auto 20px;
}

.navigation-user-item {
  margin: auto 20px;
}

.navigation-link {
  display: block;
  text-align: left;
  font-weight: 700;
  line-height: 26px;
  padding: 5px 17px;
  text-decoration: none;
  font-style: normal;
}

.navigation-button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  background-color: #756157;
  min-width: 160px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
}

.navigation-user {
  display: flex;
  list-style-type: none;
  margin: 20px 70px 20px auto;
  padding: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}


.logo {
  display: block;
}

.main-index {
  background-color: #FFFFFF;
  color: black;
  /*background-image: url("./../assets/background-1.jpg");*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}


.about {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.about__paragraph {
  color: black;
  text-align: center;
  font-weight: 400;
  Font-size: 22px;
  line-height: 26px;
  padding-bottom: 56px;
}

.button-search {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  background-color: #756157;
  min-width: 574px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 93px;
}

.advantages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
}

.advantages-items-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 384px;
}



.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 0px 85px;
}

.advantages-item-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.advantages-item-subtitle {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-text {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item h3::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 76px;
}

.advantages-icon-home h3::before {
  background: url("./../assets/home.svg") no-repeat center center;
  padding-bottom: 30px;
}

.advantages-icon-food h3::before {
  background: url("./../assets/food.svg") no-repeat center center;
  padding-bottom: 30px;
}

.advantages-icon-souvenirs h3::before {
  background: url("./../assets/souvenirs.svg") no-repeat center center;
}


.bg-blue {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.background-grey {
  background-color: #f0f6fa;
}

.background-grey-blue {
  background-color: rgba(131, 179, 211, 0.2)
}

.background-white {
  background-color: #FFFFFF;
}

/* Page 2 */

.title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
}

.color-white {
  margin: 0;
  color: #FFFFFF;
  padding-top: 35px;
  margin-left: 70px;
}

.breadcrumbs-item {
  color: #242424;
  text-align: left;
  margin-left: 70px;
}

.catalog-filter-title {

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  text-align: left;
}

.checkbox {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: white;
  text-align: left;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.catalog-filter-button {

}

.button-light {
  color: white;
  background-color: #82B3D3;
  text-transform: uppercase;
  padding: 9px 15px;
  min-width: 160px;
  min-height: 48px;
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  margin-bottom: 20px;
}

.button-reset {
  color: white;
  background-color: transparent;
  border: 0;
  font-size: 16px;
}

.filter {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  margin-top: 72px;
}

.filter-select-wrapper {
  display: flex;
  align-items: center;
  max-height: 48px;

}

.filter-buttons-wrapper {
  display: flex;
  justify-content: center;
}

.filter-button {
  display: flex;
  align-items: center;
}

.sorting {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: black;
  text-align: left;
  text-transform: uppercase;
}

.advantages-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: black;
  padding: 16px 0px 16px 0px;
}

.color-black {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 29px;
  color: black;
}

.bg-subscribe {
  background: url("./../assets/background-subscribe.jpg") no-repeat center center;
}

.subscription {

}

.subscribe-subtitle {
  color: white;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 46px;
}

.subscribe-subtitle-catalog {
  color: black;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 46px;
}

.card-hotel-cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: black;
  width: 100%;
  margin-bottom: 16px;
}

.card-button {
  color: white;
  background-color: #756157;
  text-transform: uppercase;
  padding: 9px 15px;
  max-width: 140px;
  border-radius: 4px;
}

.card-button-favorite {
  color: white;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.card-button-in-favorite {
  color: white;
  background-color: #7DB54F;
  text-transform: uppercase;
}

.card-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.star {
  background-image: url("./../assets/catalog/star.svg");
  background-repeat: repeat-x;
  height: 17px;
}

.star-repeat-1 {
  width: calc(18px * 1);
}

.star-repeat-2 {
  width: calc(18px * 2);
}

.star-repeat-3 {
  width: calc(18px * 3);
}

.star-repeat-4 {
  width: calc(18px * 4);
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #F2F2F2;
  min-width: 160px;
  min-height: 37px;
  border-radius: 4px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
}

.pagination-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-item {
  display: flex;
  margin: 0 8px 0 0;
  min-width: 55px;
  min-height: 55px;
  vertical-align: middle;
  background-color: #82B3D3;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.pagination-current {
  background-color: #F2F2F2;
  color: black;
}

.pagination-disabled {
  background-color: #595959;
}

.per-page {
  font-size: 18px;
  line-height: 21px;
}

.about__title {
  text-transform: uppercase;
  font-size: 30px;
  padding-bottom: 29px;
  line-height: 36px;
}

.advantages-card-subscribe {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.submit {
  color: white;
  text-transform: uppercase;
  background-color: #82B3D3;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.email-input {
  color: black;
  background-color: #F2F2F2;
  width: 600px;
  height: 60px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}

.main-footer {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.contacts-phone {
  text-align: center;
  color: #000000;
}

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

.filters {
  display: flex;
}

.catalog-filter-wrapper {
  display: flex;
  margin-left: 70px;
  margin-bottom: 70px;
}

.filter-column {
  display: flex;
  flex-direction: column;
}

.cost {
  display: flex;
  margin-left: 175px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
  justify-content: center;
  margin-bottom: 66px;
  list-style-type: none;
  padding: 0;
}


.card {
  padding: 18px;
}



.card-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding-top: 91px;
  align-items: center;
}

.subscribe {
  width: 100%;
  min-height: 411px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  align-items: center;
  justify-content: space-around;
}

.page-footer-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  min-width: 24px;
  min-height: 17px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.about-header {
  background-image: url("../assets/about-bg.svg");
  min-height: 485px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 63px 0 90px 0;
  max-width: 655px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.contacts-phone {
  text-decoration: none;
  font-style: normal;
}

.footer-logo {
  width: 115px;
  margin-left: auto;
}

.advantages-card-img {
  position: relative;
  flex-grow: 2;
}



