*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: white;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.catalog-filter-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2px 71px;
}

.catalog-first-screen {
  background-image: url("./../assets/catalog/background-catalog.jpg");
  background-repeat: no-repeat;
  min-height: 394px;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("./../fonts/PTSans-Italic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("./../fonts/PTSans-BoldItalic.ttf") format("ttf");
  font-display: swap;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: black;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

/* Header */

.page-header {
  height: 65px;
  color: #000000;
  background: white;
}

.page-header ul {
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation-left {
  display: flex;
  justify-content: flex-start;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  min-width: 500px;
  list-style-type: none;
  flex-wrap: wrap;
}

.sorting-class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.navigation-item-logo {
  position: relative;
  width: 139px;
  height: 100%;
  margin: 0 47px 0 70px;
}

.navigation-item-logo > img {
  position: absolute;
}

.navigation-item {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto 0;
  padding-right: 34px;
  height: 100%;
}

.navigation-user-item {
  display: flex;
  justify-content: center;
  width: 42px;
  /*margin: auto 18px auto 0;*/
}

.navigation-link {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  text-align: left;
  font-weight: 700;
  line-height: 26px;
  font-size: 20px;
  text-decoration: none;
  font-style: normal;
  color: black;
}

.navigation-link:hover {
  color: #595959;
}

.navigation-link:focus {
  border: 3px solid #ffffff;
  border-radius: 4px;
}

.navigation-link:active {
  margin-top: 20px;
}

.current-page::after {
  content: "";
  position: absolute;
  display: block;
  width: 68px;
  height: 2px;
  background-color: #756257;
  /*margin-top: 20px;*/
  bottom: 0;
}

.catalog-page::after {
  content: "";
  position: absolute;
  display: block;
  width: 93px;
  height: 2px;
  background-color: #756257;
  margin-top: 70px;
}

.favorites {
  position: absolute;
  /*top: 15px;*/
  width: 20px;
  height: 20px;
  transform: translate(14px, -10px);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 10px;
  padding: 2px 5px 4px 5px;
  z-index: 1;
}

.navigation-button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  background-color: #756157;
  min-width: 160px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  border-radius: 4px;
  margin: auto 70px auto 19px;
}

.navigation-button:hover {
  background: #9d8376;
  border-radius: 4px;
}

.navigation-button:focus {
  border: 3px solid #ffffff;
  border-radius: 4px;
}

.navigation-button:active {
  color: white;
  opacity: 30%;
  border-radius: 4px;
}

.navigation-user {
  margin-left: 85px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.page-container {
  /*width: 1200px;*/
  margin: 0 auto;
}

.main-index {
  background-color: #ffffff;
  color: black;
  /*background-image: url("./../assets/background-1.jpg");*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}


.about {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.about__paragraph {
  color: black;
  text-align: center;
  font-weight: 400;
  Font-size: 22px;
  line-height: 26px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.subscribe-email {
  display: flex;
}

.email {
  padding: 12px 15px;
  background-color: #f2f2f2;
  min-width: 600px;
  max-height: 60px;
  border-radius: 10px 0 0 10px;
  border: 0;
}

input::placeholder {
  color: black;
  font-size: 18px;
}

.email-button {
  color: white;
  background-color: #82b3d3;
  text-transform: uppercase;
  width: 200px;
  max-height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border: 0;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
}

.email-button:hover {
  background-color: #68a2ca;
}

.email-button:focus {
  outline: 3px solid #ffffff;
  border-radius: 4px;
}

.email-button:active {
  color: white;
  opacity: 30%;
}

.email-button:disabled {
  color: white;
  background-color: #82b3d3;
}

.button-search {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  background-color: #756157;
  min-width: 574px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  margin: 56px auto 93px;
  border-radius: 4px;
}

.button-search:hover {
  background: #9d8376;
  border-radius: 4px;
}

.button-search:focus {
  border: 3px solid #ffffff;
  border-radius: 4px;
}

.button-search:active {
  color: white;
  opacity: 30%;
  border-radius: 4px;
}

/*.advantages h3 {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

.advantages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
}

.advantages-items-wrapper {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 384px;
}

.advantages-items-img {
  min-height: 76px;
}

.advantages-icon-cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 0;
}

.advantages-text-card .advantages-item-title {
  margin: 92px 0 0 0;
}

.advantages-text-card-2 .advantages-item-title {
  margin: 103px 0 0 0;
}

.advantages-item-title {
  /*position: relative;*/
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  max-width: 180px;
}

.advantages-icon-cards .advantages-item-title {
  margin: 81px 0 30px 0;
}

.advantages-icon-cards .advantages-item-title::before {
  content: "";
  display: block;
  /*margin: 0 auto;*/
  width: 75px;
  height: 76px;
  margin: 0 auto 30px auto;
}

.advantages-item-subtitle {
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 30px 0;
}

.advantages-item-text {
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  margin: 0;
}


.advantages-icon-home .advantages-item-title::before {
  background: url("./../assets/home.svg") no-repeat center center;
}

.advantages-icon-food .advantages-item-title::before {
  background: url("./../assets/food.svg") no-repeat center center;
}

.advantages-icon-souvenirs .advantages-item-title::before {
  background: url("./../assets/souvenirs.svg") no-repeat center center;
}


.bg-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.background-grey {
  background-color: #f0f6fa;
}

.background-grey-blue {
  background-color: rgba(131, 179, 211, 0.2)
}

.background-white {
  background-color: #ffffff;
}

/* Page 2 */

.title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
}

.color-white {
  font-size: 60px;
  margin-bottom: 23px;
  color: #ffffff;
  padding-top: 18px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

.breadcrumbs:hover {
  color: white;
  opacity: 60%;
}

.breadcrumbs:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.breadcrumbs:active {
  color: white;
  opacity: 30%;
}

.breadcrumbs-item {
  color: white;
  font-size: 16px;
}

.breadcrumbs-item:focus:before {
  box-shadow: 0 0 0 3px #83B3D3;
}


.breadcrumbs-arrow {
  padding: 5px 10px 5px 10px;
}


.catalog-filter-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  text-align: left;
  padding-inline: 0;
  padding-block-start: 0;
  margin-inline: 0;
}

.catalog-fieldset {
  display: flex;
  justify-content: space-between;
}

.checkbox {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: white;
  text-align: left;
  margin-bottom: 15px;

}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  background-position: center;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  transition: 0.5s;
  border-radius: 0.25em;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #ffffff;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  background-color: #ffffff;
  opacity: 60%;
  border-radius: 3px;
}

.custom-checkbox:not(:disabled):checked + label:hover::before {
  background-color: #ffffff;
  opacity: 60%;
  border-radius: 3px;
}

.custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 3px #83B3D3;
  border-radius: 3px;

}


.custom-checkbox:checked + label::before {
  background: url("../assets/checkbox-checked.svg") no-repeat;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  background-position: center;
}

.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  margin-right: 19px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background: #ffffff;
}

.custom-radio:checked + label::before {
  background: url("../assets/radio-button-checked.svg") no-repeat;
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio:focus + label::before {
  box-shadow: 0 0 0 3px #83B3D3;
}

.custom-radio:focus:not(:checked) + label::before {
  box-shadow: 0 0 0 3px #83B3D3;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.catalog-filter-button {

}

.button-light {
  color: white;
  background-color: #82b3d3;
  text-transform: uppercase;
  padding: 9px 15px;
  min-width: 160px;
  min-height: 48px;
  border-radius: 4px;
  border: 0;
  font-weight: 700;
}

.button-light:hover {
  background-color: #68a2ca;
}

.button-light:focus {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
  border-radius: 4px;
}

.button-light:active {
  color: #ffffff;
  opacity: 30%;
}

.button-light:disabled {
  color: white;
  background-color: #83b3d3;
}

.button-reset {
  color: white;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  padding: 9px 15px;
  min-width: 160px;
  min-height: 48px;
  margin-bottom: 0;
}

.button-reset:hover {
  color: white;
  opacity: 60%;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  color: white;
  opacity: 30%;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 72px 33px 72px;
}

.filter-select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
}

/* Control */
.select-control {
  width: 287px;
  padding: 8px 14px;
  font: inherit;
  font-weight: 400;
  border-radius: 4px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  background-image: url("../assets/catalog/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #83b3d3;
}

.select-control:active {
  color: black;
  opacity: 30%;
}

.per-page-choice {
  width: 160px;
  padding: 8px 14px;
  font: inherit;
  font-weight: 400;
  border-radius: 4px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  background-image: url("../assets/catalog/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.view-table {
  width: 48px;
  height: 48px;
  border: solid black;
  border-radius: 4px;
  background: url("../assets/catalog/icon-table.png") no-repeat center;
}

.view-card {
  width: 48px;
  height: 48px;
  border: solid #e5e5e5;
  border-radius: 4px;
  background: url("../assets/catalog/icon-slideshow.png") no-repeat center;
}

.view-list {
  width: 48px;
  height: 48px;
  border: solid #e5e5e5;
  border-radius: 4px;
  background: url("../assets/catalog/icon-list.png") no-repeat center;
}

.filter-buttons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 48px;
  background-color: #ffffff;
  margin-left: auto;
}

.filter-buttons-wrapper svg {
  fill: #000000;
}

.filter-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 8px;
  list-style-type: none;
}

.sorting {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: black;
  text-align: left;
  text-transform: uppercase;
  width: 50%;
}

.advantages-card-title {
  display: flex;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 12px;
}

.subscribe-card-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding: 0 0 32px 0;
  margin: 60px 0 0 0;
  text-transform: uppercase;
}

.subscribe-card-title-main {
  color: #ffffff;
}


.color-black {
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

.bg-subscribe {
  background: url("./../assets/background-subscribe.jpg") no-repeat center center;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 102px;
  text-align: center;
  margin: 0;
}

.subscribe-subtitle {
  max-width: 475px;
  margin-bottom: 46px;
  font-weight: 400;
  color: white;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-subtitle-catalog {
  color: black;
  font-size: 22px;
  line-height: 26px;
  min-width: 476px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 46px;
}

.card-hotel-cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: black;
  min-width: 140px;
  margin-bottom: 16px;
}

.card-button {
  color: white;
  background-color: #756157;
  text-transform: uppercase;
  padding: 9px 15px;
  min-width: 140px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.card-button-more:hover {
  background: #9d8376;
  border-radius: 4px;
}

.card-button-more:focus {
  border: 3px solid #ffffff;
  border-radius: 4px;
}

.card-button-more:active {
  color: white;
  opacity: 30%;
  border-radius: 4px;
}

.card-button-favorite:hover {
  background: #68a2ca;
  border-radius: 4px;
}

.card-button-favorite:focus {
  background: #68a2ca;
  border: 3px solid #ffffff;
  border-radius: 4px;
}

.card-button-favorite:active {
  background: #68a2ca;
  border-radius: 4px;
  color: white;
  opacity: 30%;
}

.card-button-favorite {
  color: white;
  background-color: #82b3d3;
  text-transform: uppercase;
  border-radius: 4px;
}

.card-button-in-favorite {
  color: white;
  background-color: #7db54f;
  text-transform: uppercase;
}

.card-button-in-favorite:hover {
  background-color: #9ce262;
}

.card-button-in-favorite:focus {
  background-color: #9ce262;
  outline: 3px solid #ffffff;
  border-radius: 4px;
}

.card-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.star {
  background-image: url("./../assets/catalog/star.svg");
  background-repeat: repeat-x;
  height: 17px;
}

.star-repeat-1 {
  width: calc(18px * 1);
}

.star-repeat-2 {
  width: calc(18px * 2);
}

.star-repeat-3 {
  width: calc(18px * 3);
}

.star-repeat-4 {
  width: calc(18px * 4);
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #f2f2f2;
  min-width: 140px;
  min-height: 37px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
  margin-block: 0;
  margin-top: 16px;
}

.pagination-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 0;
  border-top: 1px solid #e6e6e6;
  margin: 66px 72px 33px 72px;
}

.pagination {
  display: flex;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 50%;
}

.pagination-amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 50%;
}

.pagination-item {
  display: flex;
  margin: 0 8px 0 0;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  background-color: #82b3d3;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

}

.pagination-item:hover {
  background-color: #68a2ca;
}

.pagination-item:focus {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
  border-radius: 4px;
}

.pagination-item:active {
  color: #ffffff;
  opacity: 30%;
}

.pagination-item:disabled {
  color: white;
  background-color: #83b3d3;
}


.pagination-current {
  background-color: #f2f2f2;
  color: black;
}

.pagination-disabled {
  background-color: #595959;
}

.per-page {
  font-size: 18px;
  line-height: 21px;
  margin-right: 180px;
}

.about__title {
  text-transform: uppercase;
  font-size: 30px;
  padding-bottom: 29px;
  line-height: 36px;
}

.advantages-card-subscribe {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.submit {
  color: white;
  text-transform: uppercase;
  background-color: #82b3d3;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.email-input {
  color: black;
  background-color: #f2f2f2;
  width: 600px;
  height: 60px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}

.main-footer {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.contacts-phone {
  text-align: center;
  color: #000000;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.main-container {
  flex-grow: 1;
}

.filters {
  display: flex;
}

.catalog-filter-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.filter-column {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  margin-right: 70px;
  margin-inline-start: 0;
  padding-inline: 0;
  padding-block-start: 0;
}

.filter-right {
  display: flex;
  flex-wrap: wrap;
}

.cost {
  display: flex;
  flex-direction: column;
  border: none;
  min-width: 520px;
  padding-inline: 0;
  padding-block-start: 0;
  margin-inline: 0;
}

.cost-min-max {
  display: flex;
  justify-content: space-between;
  max-width: 288px;
}

.cost-min-max:hover {
  outline: 2px solid #ffffff;
  opacity: 60%;
}

.cost-min-max:focus {
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 3px #81b3d2;
}

.cost-min-max:active {
  border: 2px solid #ffffff;
  background-color: #756257;
}

.range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 16px;
  justify-content: center;
  margin-bottom: 66px;
  list-style-type: none;
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}


.card {
  padding: 18px;
}


.card-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding-top: 91px;
  align-items: center;
}

.page-footer-container {
  display: flex;
  width: 100%;
  padding: 0 43px;
  align-items: center;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item:hover {
  background-color: gainsboro;
}

.footer-social-item:focus {
  outline: 2px solid #81b3d2;
  background-color: gainsboro;
}

.footer-social-item {
  min-width: 26px;
  min-height: 17px;
  margin-right: 22px;
  margin-bottom: 8px;
}

.footer-social-item:focus {

}

.about-header {
  background-image: url("../assets/about-bg.jpg");
  min-height: 485px;
  display: flex;
  padding-top: 51px;
  justify-content: center;
  width: 100%;
}

.about-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 63px 0 90px 0;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.contacts-phone {
  margin: 0 241px;
  text-decoration: none;
  font-style: normal;
}

.footer-logo {
  width: 115px;
  margin-left: auto;
}

.advantages-card-img {
  position: relative;
  flex-grow: 2;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: gainsboro;
  min-width: 288px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: white;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #ffffff;
  border: 0;
}

.range-toggle:focus {
  border: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:active {
  border: 2px solid #83b3d3;
  box-shadow: 0 17px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
  left: -7px;
}

.toggle-max {
  top: -8px;
  right: -33px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}


.catalog-filter-label {
  position: relative;
  display: flex;
  width: 50%;
}

.catalog-filter-label-from:after {
  content: "от";
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #878181;
  line-height: 12px;
  padding: 0 14px;
}

.catalog-filter-label-to:after {
  content: "до";
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #878181;
  line-height: 12px;
  padding: 0 14px;
}

.range-input {
  position: relative;
  color: white;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: solid 2px white;
  width: 100%;
}

.range-input::placeholder {
  /*position: absolute;*/
  color: #ffffff;
  background: transparent;
  border: 1px solid red;
  /*width: 30px;*/
  text-align: right;
  /*vertical-align: center;*/
  z-index: 10;
}


.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
